<!--для вставки частичного представления применяется выражение {{> head}},в котором
прописывается имя файла частичного представления без расширения.-->
{{> head}}
<body>
{{> navbar}}

<div class="container">
    {{{body}}}
</div>

{{> footer}}
</body>
</html>
